cement==2.10.2
oauth2client==4.1.0
tabulate==0.7.7
pyYaml==3.12
git+https://github.com/ciandt-d1/cvtool-cli-python-client.git@9c5923d5f1485a4161e982cb9a4c3be559e41749#egg=cvtool-cli-client
requests==2.17.3
